@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
    .top-navigation {
      @apply flex flex-row items-center justify-evenly 
      bg-transparent bg-opacity-90 
       h-16 
      mx-5 
    }

    .top-navigation-icon {
      @apply mx-3
      transition duration-300 ease-in-out 
      cursor-pointer;
    }
}

::-webkit-scrollbar {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-gradient-to-b from-purple-400 to-blue-400
    rounded-lg;
  }